* {
    margin: 0;
    padding: 0;
}
#div_principal {
    width: 98%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.container {
    margin-top: 2%;
    width: 100%;
    height: 100px;
    background-color: gainsboro;
    display: flex;
    flex-direction: row;
}

#container1_div1 {
    background-color: aqua;
    color: black;
}
#container1_div2 {
    background-color: rgb(34, 47, 47);
    color: black;
}
#container1_div3 {
    background-color: rgb(210, 0, 73);
    color: black;
}
#container1_div4 {
    background-color: rgb(221, 140, 58);
    color: black;
}
#container2_div1 {
    background-color: aqua;
    color: black;
}
#container2_div2 {
    background-color: rgb(34, 47, 47);
    color: black;
}
#container2_div3 {
    background-color: rgb(210, 0, 73);
    color: black;
}
#container2_div4 {
    background-color: rgb(221, 140, 58);
    color: black;
}

#container3_div1 {
    background-color: aqua;
    color: black;
}
#container3_div2 {
    background-color: rgb(34, 47, 47);
    color: black;
}
#container3_div3 {
    background-color: rgb(210, 0, 73);
    color: black;
}
#container3_div4 {
    background-color: rgb(221, 140, 58);
    color: black;
}
#container4_div1 {
    background-color: aqua;
    color: black; 
    position: absolute;
    left: 0;    
    height: 100px;
    margin-left: 1%;   
}
#container4_div2 {
    background-color: rgb(34, 47, 47);
    color: black;
    margin: 0 25% 0 0
}
#container4_div3 {
    background-color: rgb(210, 0, 73);
    color: black;
    
}
#container4_div4 {
    background-color: rgb(221, 140, 58);
    color: black;
    position: absolute;
    right: 0;    
    height: 100px;
    margin-right: 1%;
}
#container5_div1 {
    background-color: aqua;
    color: black; 
    position: absolute;
    left: 10%;    
    height: 100px;
    margin-left: 1%;   
}
#container5_div2 {
    background-color: rgb(34, 47, 47);
    color: black;
    margin: 0 18% 0 0
}
#container5_div3 {
    background-color: rgb(210, 0, 73);
    color: black;
    
}
#container5_div4 {
    background-color: rgb(221, 140, 58);
    color: black;
    position: absolute;
    right: 10%;    
    height: 100px;
    margin-right: 1%;
}
#container6_div1 {
    background-color: aqua;
    color: black; 
    position: absolute;
    left: 16%;    
    height: 100px;
    margin-left: 1%;   
}
#container6_div2 {
    background-color: rgb(34, 47, 47);
    color: black;
    margin: 0 10% 0 0
}
#container6_div3 {
    background-color: rgb(210, 0, 73);
    color: black;
    
}
#container6_div4 {
    background-color: rgb(221, 140, 58);
    color: black;
    position: absolute;
    right: 16%;    
    height: 100px;
    margin-right: 1%;
}
#container7_div1 {
    background-color: aqua;
    color: black;
    height: 25%;
}
#container7_div2 {
    background-color: rgb(34, 47, 47);
    color: black;
    height: 25%;
}
#container7_div3 {
    background-color: rgb(210, 0, 73);
    color: black;
    height: 25%;
}
#container7_div4 {
    background-color: rgb(221, 140, 58);
    color: black;
    height: 25%;
}
#container8_div1 {
    background-color: aqua;
    color: black;
    margin-right: 72%;
}
#container8_div2 {
    background-color: rgb(34, 47, 47);
    color: black;
}
#container8_div3 {
    background-color: rgb(210, 0, 73);
    color: black;
}
#container8_div4 {
    background-color: rgb(221, 140, 58);
    color: black;
}
.containers_divs {
    width: 7%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
#container2 {
    justify-content: right;
}
#container3 {
    justify-content: center;   
}
#container4 {
    justify-content: center;
}
#container5 {
    justify-content: center;
}
#container6 {
    justify-content: center;
}
#container7 {
    width: 100%;
    display: flex;
    flex-direction:column-reverse;
    height: 200px;
}
#container8 {
    flex-direction:row;
    margin-bottom: 2%;
    flex-direction: row-reverse;
}
